Create a variables with your name and print each characters using a loop

In [ ]:
name="Ali"
for letter in name:
    print(letter)

A
l
i

Use slicing to print the first 4 characters of a string

In [ ]:
my_string=("Pakistan")
print(my_string[:4])

Paki

Input a number of string,convert t into int,and print the result

In [ ]:
num=input("enter a number")
num=int(num)
print(num+10)

enter a number56
66

A list of string number convert it into integers,and print updated list

In [ ]:
data=("10","30","40")
new_list=["for(x)in data"]
print(new_list)

['for(x)in data']

Python is in a string using in by use a message

In [ ]:
my_string=("I am learning python")
if"python"in my_string:
    print("yes")
else:
    print("no")

yes

A string and convert into uppercase,lowercase and title case

In [ ]:
word=("Pakistan")
print("word.upper()")
print("word.lower()")
print("word.title()")

word.upper()
word.lower()
word.title()

In [ ]:
x="123"
print(type(x))
y=int(x)
print(type(y))

<class 'str'>
<class 'int'>

Inform for name,and age,checkif age is above of 18 and pring eglibility

In [ ]:
name=input("enter your name")
age=int(input("enter your age"))
if age>=18:
    print("you are eligible")
else:
    print("you are not eligible")

enter your nameMuhammad Ali
enter your age14
you are not eligible

In [ ]:
msg="Pakistan"
print("msg.isupper()")

msg.isuppercase

A string with numbersand convert into float,int and print.

In [ ]:
my_string="56"
my_float=float(my_string)
my_int=int(float(my_string))
print(my_float)
print(my_int)

56.0
56